<settings>
  <proxies>
   <proxy>
      <active>true</active>
      <protocol>http</protocol>
      <host>proxy.eng.vmware.com</host>
      <port>3128</port>
      <nonProxyHosts>*.vmware.com</nonProxyHosts>
    </proxy>
   <proxy>
      <active>true</active>
      <protocol>https</protocol>
      <host>proxy.eng.vmware.com</host>
      <port>3128</port>
      <nonProxyHosts>*.vmware.com</nonProxyHosts>
    </proxy>
  </proxies>
</settings>

